:root {
    --var-primary-purple: #9792e4;
    --var-secondary-blue: #0084fd;
    --var-lightblue: #b5ddff;
    --var-almost-black: #333333;
    --var-yellow: #fdc15f;
    --var-secondary-text: #5a6e7f;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.011em;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

section {
    padding: 2rem 0;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 188%;

}

img {
    max-width: 100%;
    height: auto;
}


/* Utilites */
.d-flex {
    display: flex;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}




/* #region columns */

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-12 {
    width: 100%;
    
}

[class^="col-"] {
    padding: 1rem 1rem 0 1rem;
}
/* #endregion */

/* #region debug */
.debug header {
    height: 80px;
    background-color: whitesmoke;
}

.debug .logo, .debug .main_menu {
    border: 1px solid;
    width: 150px;
}


.debug [class^="col-"] {
    height: 350px;
    border: 1px solid red;
}

.debug .partners .heading, .debug .partners .partner {
    height: 200px;
    background-color: gainsboro;
    border: 1px solid;
}

.debug .partner .avatar {
    width: 150px;
    background-color: red;
    
}

.debug .call_to_action .container {
    height: 400px;
    background-color: green;
}

.debug footer {
    height: 200px;
}

/* #endregion */


/* #region btn */

.btn, .btn_small {
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
}

.btn_small {
    background-color: white;
    color: black;
    
}

.btn {
    width: 40%;
}

.blue {
    background-color: var(--var-secondary-blue);
}
/* #endregion */

/* #region header */
#site_header {
    background-color: var(--var-secondary-blue);
}

header nav {
    padding: 1rem 0;
}


.main_menu {
    display: none;
    list-style: none;
}

.main_menu li {
    padding: 1rem;
}

.bars {
    color: white;
}

/* #endregion */

/* #region main */
.planning, .benefits , .call_to_action {
    background-color: var(--var-primary-purple);
}

.demo .content {
    background-color: var(--var-lightblue);
    border-radius: 0.8rem;
    flex-wrap: wrap;
    height: 100%;
    padding: 1rem;
    
}

.demo .content p {
    padding: 2rem 0;
    color: var(--var-secondary-text);
    font-weight: 600;
    
}



.demo h3, .demo i {
    color: var(--var-secondary-blue);
}


.demo i {
    font-size: 72px;
    padding: 2rem 0;
}
.demo .fa-apple {
    font-size: 18px;
    color: white;
    padding: 0;
}

.app_store {
    margin: 1rem 0;
    width: 70%;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.app_store i {
    margin-right: 0.5rem;
    
    
}

.phone {
    align-items: flex-end;
    margin-bottom: -1rem;
    padding-left: 3rem;
}

.phone_img {
   
    padding-top: 3rem;
    max-width: 80%;
    
}

.planning .col-12.column {
    justify-content: flex-end;
   
    
}



.strategic {
    color: white;
}

.strategic img {
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.strategic p {
    padding: 3rem 0;
}

.strategic h3 {
    font-size: 28px;
}



.planning .content {
    background-color: white;
    padding: 2rem 4rem;
    border-radius: 4rem;
    width: 100%;
}

.planning .content>*{
    padding: 1rem 0;
}

.planning .content p {
    font-style: italic;
}

.arrow {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--var-primary-purple);
    margin-top: 1rem;
}

.heading >* {
    padding: 1rem 0;
}

.heading h2 {
    color: var(--var-primary-purple);
}

.partner {
    flex-direction: column;
    background-color: var(--var-primary-purple);
    border-radius: 4rem;
    padding: 1rem;
    color: white;
    margin: 2rem 0;
}

.partner .bio {
    text-align: center;
}

.partner >*, .partner .bio >* {
    padding: 0.5rem 0;
}

.partner h3 {
    font-weight: 600;
    font-size: 1.375rem;
}



.avatar img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}
 




 



/* #endregion */

/* #region footer */
footer {
    background-color: black;
}
/* #endregion */


/* respsonsive */
@media screen and (min-width: 768px) {
    
    .col-md-8 {
        width: calc((100%/12)*8);
    }

   .strategic img {
    width: 100%;
    object-fit: cover;
   }

   .partner {
    flex-direction: row;
    justify-content: space-between;
   }

   .partner .bio  {
    flex-basis: 80%;
    text-align: left;
    padding: 1rem;
   }

   
    
    .col-md-4 {
        width: calc((100%/12)*4);
    }
    .col-md-6 {
        width: calc((100%/12)*6);
    }


    
}



@media screen and (min-width: 1200px) {

   
    
    .col-lg-6 {
        width: calc((100%/12)*6);
    }

    .col-lg-4 {
        width: calc((100%/12)*4);
    }


    
    .main_menu {
        display: flex;
    }

    .bars {
        display: none;
    }

    .planning .col-12 {
        padding-left: 8rem;
    }

    .heading h2 {
        font-size: 32px;
    }
    

    .planning .content {
        width: 75%;
    }

    .partner .bio {
        flex-basis: 90%;
        padding-left: 3rem;
    }

    
    

    
}   