:root {
    --var-primary-purple: #9792e4;
    --var-secondary-blue: #0084fd;
    --var-lightblue: #b5ddff;
    --var-almost-black: #333333;
    --var-yellow: #fdc15f;
    --var-secondary-text: #5a6e7f;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.011em;
}

.container {
    width: 80%;
    max-width: 480px;
    margin: 0 auto;
}

.container_sm {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

section {
    padding: 2rem 0;
}

a {
    text-decoration: none;
    color: white;
    
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 1.5rem;
}

p {
    line-height: 188%;

}

img {
    max-width: 100%;
    height: auto;
}


/* Utilites */
.d-flex {
    display: flex;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}




/* #region columns */

.col-3 {
    width: calc((100%/12)*3);
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-12 {
    width: 100%;
    
}

[class^="col-"] {
    padding: 1rem 1rem 0 1rem;
}
/* #endregion */

/* #region debug */
.debug header {
    height: 80px;
    background-color: whitesmoke;
}

.debug .logo, .debug .main_menu {
    border: 1px solid;
    width: 150px;
}


.debug [class^="col-"] {
    height: 350px;
    border: 1px solid red;
}

.debug .partners .heading, .debug .partners .partner {
    height: 200px;
    background-color: gainsboro;
    border: 1px solid;
}

.debug .partner .avatar {
    width: 150px;
    background-color: red;
    
}

.debug .call_to_action .container {
    height: 400px;
    background-color: green;
}

.debug footer {
    height: 200px;
}

/* #endregion */


/* #region btn */




.btn, .btn_small, .btn_large {
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s ease;
}

.btn_small {
    padding: 0.5rem 0.8rem;
   
}

.btn_small {
    color: black;
}


.btn {
    width: 40%;
    font-weight: 700;
    padding: 0.6rem 1rem;
}

.btn_large {
    padding: 1.5rem 2rem;
    width: 80%;
    font-weight: 700;
    color: var(--var-primary-purple);
}

.white {
    background-color: white;
    
    
}

.blue {
    background-color: var(--var-secondary-blue);
}

.purple {
    background-color: var(--var-primary-purple);
    
}

.white:hover {
    box-shadow: 0 0 3px 3px var(--var-almost-black);
}

.blue:hover, .purple:hover, .arrow:hover {
    cursor: pointer;
    opacity: 0.75;
}

/* #endregion */

/* #region header */
#site_header {
    background-color: var(--var-secondary-blue);
}

header nav {
    padding: 1rem 0;
}


.main_menu {
    display: none;
    list-style: none;
}

.main_menu li {
    padding: 0.5rem;
}



.main_menu li a:not(.main_menu .btn_small){
    display:inline-block;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s ease;
}


.main_menu li:not(.main_menu li:last-child):hover a {
    color: var(--var-secondary-blue);
    background-color: white;
}

.bars {
    color: white;
}



/* #endregion */

/* #region main */
.planning, .benefits , .call_to_action {
    background-color: var(--var-primary-purple);
}

.demo .content {
    background-color: var(--var-lightblue);
    border-radius: 0.8rem;
    height: 100%;
    padding: 1.5rem;
    flex-wrap: wrap;
    
}

.demo .content p {
    padding: 2rem 0;
    color: var(--var-secondary-text);
    font-weight: 700;
    
}

.demo h3, .demo i {
    color: var(--var-secondary-blue);
}


.demo i {
    font-size: 72px;
    padding: 2rem 0;
}
.demo .fa-apple {
    font-size: 18px;
    color: white;
    padding: 0;
}

.app_store, .linkedin {
    margin: 1rem 0;
    width: 60%;
    
}

.app_store i {
    margin-right: 0.5rem;
    
    
}

.text {
    flex-basis: 100%;
}


.phone_img {
    margin-bottom: -1.5rem;
    align-self: flex-end;
    
    
}

.strategic {
    color: white;
}

.strategic img {
    padding-top: 4rem;
    padding-bottom: 8rem;
    
}

.strategic p {
    padding: 3rem 0;
}

.strategic h3 {
    font-size: 28px;
}

.planning .content {
    background-color: white;
    padding: 2rem;
    border-radius: 6rem;
    width: 100%;
}

.planning .content>*{
    padding: 1rem 0;
}

.planning .content p {
    font-style: italic;
}

.arrow {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: var(--var-primary-purple);
    margin-top: 1rem;
    transition: opacity 0.2s ease;
}

.heading >* {
    padding: 1rem 0;
}

.heading h2 {
    color: var(--var-primary-purple);
}

.partner {
    flex-direction: column;
    background-color: var(--var-primary-purple);
    border-radius: 4rem;
    padding: 1rem;
    color: white;
    margin: 2rem 0;
}

.partner .bio {
    text-align: center;
}

.partner .bio i {
    padding: 0 0.5rem;
    font-size: 24px;
}

.partner >*, .partner .bio >* {
    padding: 0.5rem 0;
}

.partner h3 {
    font-weight: 700;
    font-size: 1.375rem;
}

.avatar img, .about img {
    width: 10rem;
    height: 10rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
}

.benefits .col-12 {
    padding: 1rem;
}

.benefits .content {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
   
}

.benefits h1 {
    color: white;
    padding-bottom: 1rem;
}

.lg {
    font-size: 48px;
    font-weight: 700;
    
}

.benefits .content h1, .benefits .content h2 {
    color: var(--var-primary-purple);
}

.benefits .content h2 {
    font-weight: 700;
}

.benefits .content p {
    color: var(--var-secondary-text);
    padding: 2rem 0;
}

.about h1, .about h2, .about .about_img i {
    color: var(--var-primary-purple);
    padding: 2rem 0;
}

.about .about_img i {
    font-size: 52px;
    position: absolute;
    top: 0;
    left: 7.8rem;
}

.about .btn i {
    padding-right: 0.3rem;
}

.about p {
    padding-bottom: 2rem;
}

.linkedin {
    letter-spacing: 0;
}

.call_to_action {
    color: white;
}

.call_to_action >* {
    padding: 1rem 0;
}

.call_to_action span {
    color: var(--var-secondary-text);
}

.call_to_action .btn_large, .call_to_action .jumbo {
    margin: 2rem 0;
}


.call_to_action .jumbo {
    font-size: 72px;
    color: var(--var-yellow);
}

.call_to_action ul li {
    padding-left: 0.5rem;
}

.copyright a {
    padding: 0.5rem;
}

.copyright a:hover, .footer_bottom a:hover {
    text-decoration: underline;
}


 





 



/* #endregion */

/* #region footer */
footer {
    background-color: var(--var-almost-black);
    color: white;
    padding: 2rem 0;
}
.footer_top, .footer_bottom {
    padding: 1rem 0;
}

.footer_bottom a {
    color: var(--var-primary-purple);
    
}

/* #endregion */


/* respsonsive */
@media screen and (min-width: 769px) {
    .container {
        max-width: 720px;
    }

    .container_sm {
        width: 80%;
    }


    .btn_large {
        width: 50%;
    }
    

    .col-md-8 {
        width: calc((100%/12)*8);
    }

   .strategic img {
    width: 100%;
    object-fit: cover;
   }

   

   .partner {
    flex-direction: row;
    justify-content: space-between;
   }

   .partner .bio  {
    flex-basis: 80%;
    text-align: left;
    padding: 1rem;
   }

   
    
    .col-md-4 {
        width: calc((100%/12)*4);
    }
    .col-md-6 {
        width: calc((100%/12)*6);
    }

    .linkedin {
        width: 100%;
    }


    
}

@media screen and (min-width: 1201px) {
    .container {
        max-width: 1140px;
    }

    .container_sm {
        width: 40%;
    }

    .btn_large {
        width: 50%;
    }
    
    .col-lg-6 {
        width: calc((100%/12)*6);
    }

    .col-lg-4 {
        width: calc((100%/12)*4);
    }

    
    .main_menu {
        display: flex;
    }

    .bars {
        display: none;
    }

    .planning .col-12 {
        padding-left: 8rem;
    }

    .planning .content {
        align-self: flex-end;
        width: 75%;
    }

    

    .partner .bio {
        flex-basis: 90%;
        padding-left: 3rem;
    }


    .linkedin {
        width: 60%;
    }

    .phone_img {
        max-width: 60%;
    }

    
    

    
}   


@media screen and (min-width: 1681px) {
    .container {
        max-width: 1440px;
    }
    .about h2{
        width: 60%;
    }
    .text {
        flex-basis: 60%;
        
    }

    .phone_img {
        max-width: 40%;
        padding-left: 3rem;
        padding-top: 3rem;
    }
   
    
}